<div id="<%= dom_id employee %>">
  <%# [:first_name, :last_name, :dob, :country, :phone, :email].each do |attribute| %>
  <% Employee::INLINE_EDITABLE_ATTRS.each do |attribute| %>
    <%= turbo_frame_tag attribute do %>
    <p>
      <strong><%= attribute %>:</strong>
      <%= link_to (employee[attribute].presence || 'Edit'), [:edit, employee, attribute: attribute] %>
    </p>
    <% end %>
  <% end %>
</div>
