<%= turbo_frame_tag "modal" do %>
<h1>Editing employee</h1>

<%= render "form", employee: @employee %>
<% end %>

<br>

<div>
  <%= link_to "Show this employee", @employee %> |
  <%= link_to "Back to employees", employees_path %>
</div>
