<h1>Editing employee</h1>

<% if params[:attribute].present? %>
  <%= render "inline_attribute_form", employee: @employee %>
<% else %>
  <%= render "form", employee: @employee %>
<% end %>

<br>

<div>
  <%= link_to "Show this employee", @employee %> |
  <%= link_to "Back to employees", employees_path %>
</div>
