<p style="color: green"><%= notice %></p>

<h1>Employees</h1>

<form data-controller="form-reset">
  <input type="search" placeholder="First or Last name">
</form>
<div id="employees">
  <% @employees.each do |employee| %>
    <%= render employee %>
    <p>
      <%= link_to "Show this employee", employee %>
    </p>
  <% end %>
</div>

<%= link_to "New employee", new_employee_path %>
